<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      
      
      <img src="/images/image11.jpg"  height="500" width="1500"/>
      <div class="container">
        <div class="carousel-caption">
          <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
          </pthis></div>
      </div>
    </div>
    <div class="item">
      <img src="/images/image2.jpg" height="500" width="1500">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/images/image7.jpg" height="500" width="1500">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->



  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="/images/image6.jpg" height="512" width="512">
    <h2 class="featurette-heading"><span class="text-muted"></span></h2>
    <p class="lead">Você é minha primeira namorada e tenho aprendido muito com você amor. Descobri sentimentos que eu não tinha sentido antes por ninguém. Aprendi a ser mais carinhoso, mais companheiro, mais focado, mais responsável entre outras coisas. Eu nunca cresci tanto pessoalmente em termos de maturidade o quanto eu cresci com você. Quando começamos a namorar não éramos mais duas crianças, mas por sermos duas pessoas sem muitas experiências, foi como se fosse. Tivemos nossas primeiras brigas e vi o quanto é ruim estar brigado com quem a gente gosta. Soubemos conversar e resolver nossos próprios problemas. Aprendi o quanto é bom ter uma pessoa ao lado seu lado. Aprendi a dividir um pouco os problemas e aceitar mais conselhos.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-left" src="/images/image8.jpg" height="512" width="512">
    <h2 class="featurette-heading"><span class="text-muted"></span></h2>
    <p class="lead">Você é tudo de melhor que aconteceu na minha vida. Você é uma grande mulher, grande namorada, minha grande paixão. A cada dia que passa eu te acho mais linda. O amor que sinto por você a cada dia ele se torna maior. Fica mais evidente a pessoa que eu quero ao meu lado para sempre. Fica mais claro o rosto que eu quero ver ao acordar de manhã e fazer um café pra gente comer na cama num dia de domingo, onde eu vou passar o dia agarrado com você</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="/images/image12.jpg" height="512" width="512">
    <h2 class="featurette-heading"><span class="text-muted"></span></h2>
    <p class="lead">Isso amor foi mais uma forma que eu pensei de dizer o quanto você é importante pra mim. Não posso estar participando presencialmente nesse momento da sua vida, mas saiba que estou aqui com o amor cada dia maior pela mulher da minha vida! Sempre que você estiver triste, você vai poder olhar para isso e lembrar de tudo o que eu sinto por você e dos nossos momentos felizes para se alegrar.TE AMO DEMAIS e estou com muitas saudades de você!</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

  <div class="container">
 <div class="row">
 <div class="span6">
 <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
 <iframe allowfullscreen="" src="http://player.vimeo.com/video/64160956" frameborder="0" width="500" height="281"></iframe>

  </div> 


   </div>
   </div>
   </div>



</div><!-- /.container -->